/* CSS Reset */

*{
	box-sizing: border-box;
}

html,
body{
	width: 100%;
	height:100%;
	margin:0px;
	padding:0px;

	font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,
p,ul,ol,li{
	margin:0;
	padding:0;
}

.clearfix:after{
	display:block;
	content:"";
	clear:both;
}

/* All sections */
.container {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 64px;
	padding-bottom: 100px;
}

section h3{
	margin: 0 0 1em; /*1em here = 16 px base size * 2.5em font size */
	font-size:2.5em;
	text-align: center;
	text-transform: uppercase;
}


section h4{
	margin: 0 0 1em; /*1em here = 16 px base size * 2.5em font size */
	font-size: 2em;
	font-weight: bold;
}

section h3:first-child,
section h4:first-child {
	margin-top: 0px;
}

p{
	margin: 1em 0;
}

body{
	font-size: 16px;
}

.button {
	display: inline-block;
	border: 1px solid;
	padding: 10px 15px;
	border-radius: 10px;
	text-decoration: none;
}

.button:hover {
	background: #ff9d00;
	color: #fff;
}


/*Header*/

#header{
	height:40px;
  background-color: black;
  padding-left: 64px;
  padding-right: 64px;
	position:fixed;
	width: 100%;
	z-index: 1;
}

.logo{
	float:left;
}

.logoimage{
	height: 40px;
	width: auto;
}

.nav{
	float:right;
}

.nav li{
	float:left;
	list-style-type:none;
}

.nav a{
	display:inline-block;
	padding:10px;
	color:#fff;
	font-family: 'Pangolin', cursive;
	text-decoration: none;
}

.nav a:hover{
	color:#ff9d00;
}



/*Homepage Background */
.home_bg{
	background-image: url(../images/profile.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}

.overlay{
	background: rgba(0,0,0,0.3);
	position:absolute;
	left:0;
	top:40;
	width:100%;
	height: 100%;
}

.container_table{
	display:table;
	width:50%;
	height:100%;
	position: relative;
	margin-left: 30px;
}

.container_table_cell{
	display:table-cell;
	text-align:center;
	font-size: 54px;
	color: #fff;
	line-height:50px;
	letter-spacing: 2px;
	vertical-align: middle;
}

.social_icons a {
	color:#fff;
	display:inline-block;
	width:30px;
	height: 20px;
	line-height:40px;
/* 	margin-top:20px; */
}

h6{
	font-size: 10px;
}

/* About me section */
.summary{
		display: flex;
		flex-direction:row;
}

.col-left,
.col-right{
	width:50%;
}

.col-right{
	padding-left: 40px;

}

.avatar {
	width: 100%;
	height: auto;
}

.skills {
	margin: 2em 0;
	list-style-type: none;
	font-weight: bold;
	margin-bottom: 1em;
	line-height: 1.5em;
}

